#header {

        padding: 10px 16px;
        background: #555;
        color: #f1f1f1;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
 #content {
    padding-top: 102px;
  }
  #content {
    padding: 18px;
  }
#transection-container p {
  color: rgb(159, 159, 40);
  font-weight: 700;
  
}